@import 'var', 'mix';

.brands {
	padding-bottom: 50px;
	background-color: #F8F8F8;

	&__title-block {
	margin: 0;
	font-weight: 400;
	font-size: 16px;
	text-transform: uppercase;
	color: $colorTextBlock;
	padding: 16px 0 16px 24px;
	background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
	margin-bottom: 24px;
	text-transform: uppercase;
		.green-line {
			height: 1px;	
			border-radius: 1px;
			background: #D9FFF5;
		}
	}

.swiper {
	&-brands {
		&__item {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-content: center;
			justify-content: space-around;
			width: 240px;
			height: 72px;
			border: 1px solid #EAEAEA;
			border-radius: 6px;
				.icon-button {
					background-color: $colorFon;
					width: 40px;
					height: 40px;
					background-image: url(/img/brands/go.svg);
				}
		}
		.swiper-slide {
			display: flex;
			width: 240px;
			height: 72px;
				@media (min-width: 768px) and (max-width: 1120px) {
					width: 224px;
				}
		}

		@media (min-width: 768px) {
			gap: 16px 24px;
			height: 162px;
			overflow: hidden;
		}
	}
}
}