@import 'var', 'mix';

// .title-section {
// 	margin: 0;
// 	font-weight: 400;
// 	text-transform: uppercase;
// 	margin-bottom: 24px;
// 	text-transform: uppercase;
// 		.green-line {
// 			height: 1px;	
// 			border-radius: 1px;
// 			background: $colorGreenLine;
// 		}
// 		h2 {
// 			background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%); 
// 			padding: 16px 0 16px 0;
// 			// padding: 16px 0 16px 24px;
// 			color: $colorTextBlock;
// 				// @media (min-width: $desctop) {
// 				// 	padding: 16px 0 16px 32px;
// 				// }
// 		}
// 	}

.swiper-conteiner {
	background-color: $colorFon;
	padding-left: 16px;
		@media (min-width: $tablet) {
			padding-left: 24px;
		}
		@media (min-width: $widescreen) {
			padding-left: 32px;
		}
	&__title-section {
	margin: 0;
	font-weight: 400;
	text-transform: uppercase;
	padding-bottom: 24px;
	text-transform: uppercase;
	color: $colorTextBlock;
		.green-line {
			height: 1px;	
			border-radius: 1px;
			background: $colorGreenLine;
		}
		h2 {
			background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%); 
			padding: 16px 0 16px 0;
			// padding: 16px 0 16px 24px;
			color: $colorTextBlock;
				// @media (min-width: $desctop) {
				// 	padding: 16px 0 16px 32px;
				// }
		}
	}
}

.swiper {
	&__shadow {
			background: linear-gradient(270deg, #F8F8F8 16.84%, #F8F8F800 100%);
			width: 24px;
			position: absolute;
			z-index: 100;
			right: 0;
				@media (min-width: $tablet) {
					display: none;
				}
		}
	&-wrapper {
		// margin-left: 16px;
		display: flex;
		.swiper-slide {
			margin: 0;
		}
		}
		@media (min-width: $tablet) {
			margin-left: 0;
			margin-right: 0;
			&-wrapper {
				display: flex;
				flex-wrap: wrap;
				// margin-left: 24px;
			}
		}
	&-pagination {
			padding-top: 16px;
			position: static;
				@media (min-width: $tablet) {
					display: none;
				}
		}

	.expand-button {
		display: none;
			@media (min-width: $tablet) {
				padding-top: 24px;
				display: flex;
				gap: 8px;
				border: none;
				// margin-left: 24px;
					// @media (min-width: $widescreen) {
					// 	margin-left: 32px;
					// }
					&__img {
						background-image: url(/img/body/expand.svg);
						width: 24px;
						height: 24px;
					}
		}	
	}
}


.expand-button--expand > .expand-button__img {
	rotate: 180deg;
}