body, p, ul, li, button, h1 {
	list-style-type: none;
	font-family: TT Lakes;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
	text-decoration: none;
	border: none;
	margin: 0;
	padding: 0;
	background-color: $colorFon;
}

