@import 'var' ,
				'normalize',
				'mix',
				'fonts',
				'var';

@import 'blocks/header',
				'blocks/swiper',
				'blocks/main',
				'blocks/brands',
				'blocks/technic',
				'blocks/price',
				'blocks/mobil-menu',
				'blocks/commercial',
				'blocks/footer';

	.round-icon {
		background-color: $colorFon;
		margin: 0;
		padding: 0;
		width: 40px;
		height: 40px;
		border-radius: 50% ;
		border-style: none; 
		&--burger {
			background-image: url(/img/header/burger.svg);
				@media (min-width: 1440px) {
					display: none;
				}
		}
		&--repair {
			background-image: url(/img/header/repair.svg);
		}
		&--checkstatus {
			background-image: url(/img/header/checkstatus.svg);
		}
		&--call {
			background-image: url(/img/header/call.svg);
		}
		&--chat {
			background-image: url(/img/header/chat.svg);
		}
		&--profile {
			background-image: url(/img/header/profile.svg);
		}
	}

.title-section {
	margin: 0;
	font-weight: 400;
	font-size: 16px;
	text-transform: uppercase;
	margin-bottom: 24px;
	text-transform: uppercase;
		.green-line {
			height: 1px;	
			border-radius: 1px;
			background: #D9FFF5;
		}
		h2 {
			background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%); 
			padding: 16px 0 16px 24px;
			color: $colorTextBlock;
		}
	}

body {
	background-image: url("/src/img/body/fon.jpg");
	@media (min-width: 1440px) {
		max-width: 1440px;
		margin: 0 auto;
	}
}



