@import 'var' ,
 'normalize',
 'mix',
 'fonts',
 'var';

@import 'blocks/header',
	'blocks/main';
	// 'blocks/brands',
	// 'blocks/mobil-menu';


@media (min-device-width: 1440px) {
	.header {
		display: none;
	}
}

@media (min-width: 1600px) {
	.main {
		display: block;
		width: 1440px;
		margin-left: auto;
		margin-right: auto;
	}
}

// @include mix.desktop {
// 	main {
// 		display: block;
// 		width: 1440px;
// 		margin-left: auto;
// 		margin-right: auto;
// 	}
// }

